@keyframes fadeInScaleColor {
  0% {
    opacity: 0;
    transform: scale(0.8);
    color: #333;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
    color: #9c9c9c;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    color: #525252;
  }
}

.animate_title {
  animation: fadeInScaleColor 2s ease-out;
}
